apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Zipkin
    type: zipkin
    url: http://zipkin:9411
    access: proxy

